In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [19]:
dataset=pd.read_csv("anaylsis of dataset.csv")

In [20]:
dataset

,car_name,variant,transmission,km_driven,owner_type,fuel_type,registeration,price
0,2018 Tata NEXON,XM 1.2,Manual,"95,230 km",1st Owner,Petrol,UP-16,"₹6,50,000"
1,2017 Renault Kwid,1.0 RXT Opt,Manual,"72,956 km",2nd Owner,Petrol,HR-11,"₹3,19,000"
2,2017 HYUNDAI ELITE I20,ASTA 1.2 (O),Manual,"50,636 km",2nd Owner,Petrol,DL-7C,"₹5,87,000"
3,2019 Mahindra XUV 3OO,W8(O),Manual,"86,652 km",1st Owner,Diesel,DL-12,"₹8,22,000"
4,2020 Hyundai Creta,1.5 SX (O) AT,Automatic,"20,235 km",1st Owner,Petrol,DL-9C,"₹16,74,000"
...,...,...,...,...,...,...,...,...
894,2021 Renault Kiger,RXZ CVT 1.0 TURBO,Automatic,"2,461 km",1st Owner,Petrol,UP-16,"₹9,90,000"
895,2021 Maruti ALTO,LXI CNG,Manual,"30,310 km",1st Owner,CNG,HR-26,"₹4,38,000"
896,2020 Maruti New Wagon-R,LXI CNG 1.0 L,Manual,"31,387 km",2nd Owner,CNG,HR-87,"₹5,67,000"
897,2020 KIA SONET,GTX PLUS DCT 1.0,Manual,"12,835 km",1st Owner,Petrol,HR-26,"₹12,71,000"
898,2011 Maruti Swift,ZXI,Manual,"79,489 km",1st Owner,Petrol,HR-26,"₹2,93,000"

In [21]:
dataset.isnull()

,car_name,variant,transmission,km_driven,owner_type,fuel_type,registeration,price
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
894,False,False,False,False,False,False,False,False
895,False,False,False,False,False,False,False,False
896,False,False,False,False,False,False,False,False
897,False,False,False,False,False,False,False,False
898,False,False,False,False,False,False,False,False

In [22]:
dataset.isnull().sum()

car_name         0
variant          0
transmission     5
km_driven        0
owner_type       0
fuel_type        0
registeration    0
price            0
dtype: int64

In [23]:
dataset.shape

(899, 8)

In [27]:
(dataset.isnull().sum()/df.shape[0])*100

car_name         0.0
variant          0.0
transmission     0.0
km_driven        0.0
owner_type       0.0
fuel_type        0.0
registeration    0.0
price            0.0
dtype: float64

In [26]:
dataset.dropna(inplace=True)    #missing values remover

car_name

In [29]:
dataset['car_name'][0]

'2018 Tata NEXON'

In [30]:
dataset['price']

0       ₹6,50,000
1       ₹3,19,000
2       ₹5,87,000
3       ₹8,22,000
4      ₹16,74,000
          ...
894     ₹9,90,000
895     ₹4,38,000
896     ₹5,67,000
897    ₹12,71,000
898     ₹2,93,000
Name: price, Length: 894, dtype: object

In [31]:
dataset['transmission']

0         Manual
1         Manual
2         Manual
3         Manual
4      Automatic
         ...
894    Automatic
895       Manual
896       Manual
897       Manual
898       Manual
Name: transmission, Length: 894, dtype: object